<form [formGroup]="loginForm">
 <div class="form" style="background-color: cornsilk ;  text-align: center; margin-left: 500px; margin-top: 250px; border-radius: 20px;">  
<div>
        <label for="exampleInputEmail1" style="font-size: 25px;" class="form-label">Account Number</label>
          <input type="Account Number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your account Number with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" style="font-size: 25px;" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button> <br>
        <span> New User? Click Here to <a href="">Register</a></span>
        </div>

  </form>
